h1.no-upper {
  text-transform: none;
}

p.telepathy {
  margin-top: 5em;
}

#contact {
  padding-top: 100px;
  padding-bottom: 10px;
}

small.copyright {
  font-size: 98%;
  vertical-align: middle;
}
